@import "tailwindcss";
@theme {
  --color-bsava-navy: #001f36;
  --color-bsava-blue: #0073b8;
  --color-bsava-light-blue: #59abd3;
  --color-bsava-orange: #ffa347;
  --color-bsava-gray: #e0e0e0;

  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #001f36;
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
